body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.promo {
    padding-top: 40px;
    padding-bottom: 20px;
}

.btn-timeline, .btn-timeline:hover {
    background-color: #FFF;
    color: #212121;
}