@()

@main("Amigo") {
    <div class="container">
        <div class="row">

                <!--LEFT SIDENAV-->
            <div class="col l4 hide-on-med-and-down">

                <ul class="collection with-header">
                    <li class="collection-header">
                        <h5>Seu menu, @session.get("conected")!</h5>
                    </li>
                    <li class="collection-item">
                        <div>Timeline<a href="/timeline" class="secondary-content"><i class="material-icons">
                            send</i></a></div>
                    </li>
                    <li class="collection-item">
                        <div>Amigos<a href="/amigo" class="secondary-content"><i class="material-icons">send</i></a></div>
                    </li>
                    <li class="collection-item">
                        <div>Evento<a href="/evento" class="secondary-content"><i class="material-icons">send</i></a></div>
                    </li>
                    <li class="collection-item">
                        <div>Grupo<a href="/grupo" class="secondary-content"><i class="material-icons">send</i></a></div>
                    </li>
                    <li class="collection-item">
                        <div>
                            Minhas Atividades
                            <a href="/atividades" class="secondary-content"><i class="material-icons">send</i></a>
                        </div>
                    </li>
                    <li class="collection-item">
                        <div>
                            Meu perfil
                            <a href="@routes.User.profile(session.get("conectedId"))" class="secondary-content">
                                <i class="material-icons">send</i>
                            </a>
                        </div>
                    </li>
                </ul>


            </div>

                <!--RIGHT SIDENAV-->
            <div class="col l8 s12">
                <div class="row">
                    <h5>Amigos</h5>

                    <div class="row">

                        <div class="input-field col s12 l12">
                            <i class="material-icons prefix">search</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Search</label>
                        </div>

                        <div class="col s12 l6">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="http://orig05.deviantart.net/5278/f/2011/227/f/d/profile_picture_by_rod_d_ruffy-d46p9u1.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">
                                        User 1
                                        <i class="material-icons right">more_vert</i>
                                    </span>
                                    @*<p><a href="#">This is a link</a></p>*@
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">
                                        User 1<i class="material-icons right">close</i></span>
                                    <p>
                                        <strong>Nome</strong>: User          <br>
                                        <strong>Email</strong>: email        <br>
                                        <strong>Sexo</strong>: M             <br>
                                        <strong>Cidade</strong>: Campinas    <br>
                                        <strong>Estado</strong>: SP          <br>
                                    </p>
                                    <p>
                                        <a href="javascript:addAmigo(1,2);">
                                            <i class="material-icons green-text" id="user-2">person_add</i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 l6">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="http://orig13.deviantart.net/6706/f/2014/066/3/f/profile_picture_by_corryrox-d799g57.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">
                                        User 2
                                        <i class="material-icons right">more_vert</i>
                                    </span>
                                    @*<p><a href="#">This is a link</a></p>*@
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">
                                        User 2<i class="material-icons right">close</i></span>
                                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 l6">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="http://d24b33.medialib.edu.glogster.com/avatars/users/2/0/53/27/532713.png?v=1429912067">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">
                                        User 3
                                        <i class="material-icons right">more_vert</i>
                                    </span>
                                    @*<p><a href="#">This is a link</a></p>*@
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">
                                        User 3<i class="material-icons right">close</i></span>
                                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
}