@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="no" name="msapplication-tap-highlight"/>

        <title>@title</title>

            <!--CSS IMPORTS-->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/materialize.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.jpg")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <div class="navbar-fixed">
            <nav class="teal">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">Tweetbook</a>
                    @if(session.get("showMenu").equals("true")) {

                        <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">
                            menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="/timeline">Timeline</a></li>
                            <li>
                                <a class="dropdown-button" href="#!" data-activates="dropdown-perfil">
                                    @session.get("conected")
                                    <i class="material-icons right">arrow_drop_down</i>
                                </a>
                            </li>
                        </ul>
                    }
                </div>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/perfil/@session.get("conectedId")">Meu perfil</a></li>
                    <li><a href="/timeline">Timeline</a></li>
                    <li><a href="/atividades">Minhas Atividades</a></li>
                    <li><a href="/grupo">Grupo</a></li>
                    <li><a href="/logout" class="materialize-red-text">Sair</a></li>
                </ul>
            </nav>

            <!-- Dropdown Structure -->
            <ul id="dropdown-perfil" class="dropdown-content">
                <li><a href="#!">editar</a></li>
                <li class="divider"></li>
                <li><a href="/logout" class="materialize-red-text">sair</a></li>
            </ul>
        </div>


        @content


        <footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Tweetbook</h5>
                        <p class="grey-text text-lighten-4">
                            O futuro para compartilhar suas ideias e deixar de lado aquelas aplicacoes que todo mundo conhece.
                            Se voce nao usa, e porque nao chegou sua vez ainda. :)</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Feito com</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="http://www.rc.unesp.br/" target="_blank">Unesp - Rio Claro</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://playframework.org/" target="_blank">Play Framework</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://securesocial.ws/" target="_blank">Secure Social</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://developers.facebook.com/docs/graph-api/using-graph-api/v2.4" target="_blank">Facebook Graph API</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://ebean-orm.github.io/docs" target="_blank">Ajave Ebean</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    2015 Copyright
                    <a class="grey-text text-lighten-4 right" href="http://materializecss.com/" target="_blank">Feito com MaterializeCss</a>
                </div>
            </div>
        </footer>


            <!--JAVASCRIPT IMPORTS-->
        <script src="@routes.Assets.at("javascripts/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/materialize.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/my.js")" type="text/javascript"></script>
    </body>
</html>