@main("Bem vindo ao TweetBook") {

    <div class="container">
        <div class="center">
            <h1>Tweetbook</h1>
                        <p>A melhor combina&ccedil;&atilde;o!</p>
                    </div>

                    <div class="divider"></div>

                    <div class="row">
                        <div class="col s12">
                            <div class="col s12 center">
                                <h3>Fa&ccedil;a seu login</h3>
                            </div>
                            <form method="POST" action="@routes.Index.login()">
                                <div class="input-field col s6 ">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="login" name="login" type="text" class="validate center" required>
                                    <label for="login">Login</label>
                                </div>
                                <div class="input-field col s6">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" name="password" type="password" class="validate center" required>
                        <label for="password">Senha</label>
                    </div>
                    <div class="input-field col s6 right">
                        <button class="btn waves-effect right">Login</button>
                    </div>
                    <div class="input-field col s6">
                        <a type="button" class="btn waves-effect" href="/newUser">Criar Usu&aacute;rio</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="divider"></div>

        <div class="row promo">
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons teal-text">flash_on</i>
                    <p class="promo-caption">Suas ideias, mais r&aacute;pido</p>
                    <p class="light center">
                        Compartilhe sua ideia muito facilmente e com muita facilidade.</p>
                </div>
            </div>
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons teal-text">group</i>
                    <p class="promo-caption">User Experience Focused</p>
                    <p class="light center">
                        By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.</p>
                </div>
            </div>
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons teal-text">settings</i>
                    <p class="promo-caption">Easy to work with</p>
                    <p class="light center">
                        We have provided detailed documentation as well as specific code examples to help new users get started.</p>
                </div>
            </div>
        </div>
    </div>


}